.header {
    padding-top: 60px;
    text-align: center;
    background-color: #1abc9c;
    color: white;
    font-size: 30px;
}

.letter {
    color: red
}

.Span {
    position: absolute;
    left: 0
}

.overlay {
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    background-color: #fff;
    padding: 10px;
}


